RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1200,
        240
      ],
      "id": "eb4fca47-c9c2-41b6-9657-05b28b71b65b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1056,
        288
      ],
      "id": "f84e2d2e-3663-4725-96e3-4eb3f2fb69ce",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "evCrT7UXE5fftbK8",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "use 1024D"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "llama",
          "mode": "list",
          "cachedResultName": "llama"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1152,
        -16
      ],
      "id": "144e1ce1-07ef-408b-91d3-b47b07298ef1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ueLqn0pGHivkC31K",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "1bebcefb-9c2d-4220-aa14-12547947b989",
      "name": "When chat message received",
      "webhookId": "3a3c077e-ade4-4b67-a96f-e780a8f7d9a9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Instructions: You are a dedicated and helpful Retrieval-Augmented Generation (RAG) assistant.\n\nStrictly answer the user's question ONLY based on the context (documents/information) provided from the knowledge base.\n\nDo not use any external or general knowledge.\n\nIf the answer cannot be found within the provided context, state clearly and politely: \"I am sorry, I cannot find the answer to your question in my knowledge base.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "c7e7d698-2494-46fe-9afb-c115744c96df",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "4c47b1c5-fde1-4c87-be13-faa91185a6df",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "evCrT7UXE5fftbK8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "dd7f5f9c-e286-46ae-be7f-2f1bbdb9afea",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1cistK2aLYv0_CCZU_rtwxT_OErM74QOO",
          "mode": "list",
          "cachedResultName": "04-Financial-Reporting-Manual (1).pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1cistK2aLYv0_CCZU_rtwxT_OErM74QOO/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        976,
        -16
      ],
      "id": "127a51cb-aed1-4e00-8d47-e16ff76ed1b9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Wl5oXDFceLT0bQNk",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        624,
        144
      ],
      "id": "3967fbb6-e999-44ed-9ef0-5c4b2d87599f",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "llama",
          "mode": "list",
          "cachedResultName": "llama"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        288
      ],
      "id": "4d2ebee6-d6d8-4021-8ea9-1f8a46ff6207",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "ueLqn0pGHivkC31K",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        432
      ],
      "id": "21610f78-c590-47ca-8457-b9038113bf60",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "evCrT7UXE5fftbK8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        240
      ],
      "id": "7bee19ef-069c-4b12-8aa7-377caa3d7f62",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "evCrT7UXE5fftbK8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1296,
        448
      ],
      "id": "df003291-13d6-43a3-a5d1-585f405dc136",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ],
      "id": "648803fd-5006-4d77-9549-b842c70f1997",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "964cf092-4aec-443f-97e7-8b5ef1bde814",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa639e2aad0ac85fb44dceee26306d8c192b1ed09a736904184af0523a51eb1a"
  },
  "id": "uPkDn4Gl1dVGiji7",
  "tags": []
}